.dropdown-container {
  /* position: relative; */
  display: flex;
  text-align: left;
}

.dropdown-wrapper {
  display: flex;
  text-align: left;
}

.dropdown-select {
  padding: 0 5px;
}
.dropdown-select:hover {
  cursor: pointer;
}

.menu {
  position: absolute;

  list-style-type: none;
  margin: 5px 0;
  padding: 0;

  border: 1px solid lightgray;
  width: 150px;
}

.menu-item {
  padding: 5px;
  font-size: 12px;
}

.menu-item:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
