.tree-node-post {
  border: 1px solid lightgray;
  border-radius: 10px;
  font-size: 12px;
  height: 80px;
  margin: 10px;
  padding: 10px;
  text-align: left;
}

.tree-node-post:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.tree-node-post-header {
  padding-bottom: 8px;
}

.tree-node-post-subheader {
  display: flex;
  justify-content: space-between;
}
