.tabs-wrapper {
  display: flex;
  font-size: 14px;
  gap: 40px;
  margin-bottom: 10px;
  align-items: center;
}

.tab {
  padding: 10px;
}

.tab.selected {
  border-bottom: 3px solid #9236cd;
}

.tab:hover {
  cursor: pointer;
  background-color: #f3dfff;
}
