.tree-nodes-container {
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-button {
  width: 100%;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid #ccc;
  text-align: left;
  outline: none;
  font-size: 14px;
  transition: background-color 0.2s;
  background-color: #f3dfff;
}

.accordion-button:hover {
  background-color: #9236cd;
  color: white;
}

.accordion-content {
  max-height: 0;
  overflow: auto;
  transition: max-height 0.2s ease-out;
  background-color: #f9f9f9;
  padding: 0;
}

.accordion-content.active {
  max-height: 300px;
}
